ai-agent-google-drive-and-whatsapp.json
{
  "name": "Projeto 4: Chatbot com dados Google Drive no Whats App (Zapflow)",
  "nodes": [
    {
      "parameters": {},
      "id": "f21e628c-0c07-4f52-a78b-f99d8ae9a9e0",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -3580,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1YtmI3QSb21NSQNf8cGsCVS7cMmGXTIXb_a4rpMkbiIU",
          "mode": "list",
          "cachedResultName": "Curso Jornada N8n 2",
          "cachedResultUrl": "https://docs.google.com/document/d/1YtmI3QSb21NSQNf8cGsCVS7cMmGXTIXb_a4rpMkbiIU/edit?usp=drivesdk"
        },
        "options": {
          "binaryPropertyName": "dataCurso6.pdf",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "5a6ee8d8-c2bd-4347-b088-ae3e0b2ee3ee",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -3120,
        560
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hO1laiADm9gpGCzu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ca1316fd-e61c-4148-a7aa-faef64205782",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -3260,
        1000
      ],
      "webhookId": "ecd6f735-966a-49ef-858b-c44883b12f2f",
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "create",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "name": "Curso N8n 2",
        "description": "Curso N8n 2",
        "instructions": "Você foi criado para responder as dúvidas dos usuários do Luciano Galvão, responda estritamente de acordo com o seu documento de treinamento e não invente ou crie respostas fora dele. Responda resumido e seja sucinto",
        "knowledgeRetrieval": true,
        "file_ids": [
          "file-XUJtzsqnjb1Mxffru5JVxz"
        ],
        "options": {
          "failIfExists": true
        }
      },
      "id": "614ff7c2-9785-4e11-88b6-5c84ea3b9f59",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -3360,
        340
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "bAZ86DI4jbivhcs0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "binaryPropertyName": "dataCurso6.pdf",
        "options": {
          "purpose": "assistants"
        }
      },
      "id": "9856bf9e-aad9-422f-a896-e265c1de5422",
      "name": "OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -2840,
        560
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "bAZ86DI4jbivhcs0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Step 1 - Treinamento",
        "height": 541,
        "width": 1467
      },
      "id": "a0804f51-c846-4f51-843c-95938135cd5b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3820,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "update",
        "assistantId": {
          "__rl": true,
          "value": "asst_ujijZkDHqWbgM6QIdrVm8JE1",
          "mode": "id"
        },
        "options": {
          "file_ids": "={{ $json.id }}",
          "instructions": "Você foi criado para responder as dúvidas dos usuários do Luciano Galvão, responda estritamente de acordo com o seu documento de treinamento e não invente ou crie respostas fora dele. Responda resumido e seja sucinto",
          "knowledgeRetrieval": true,
          "removeCustomTools": true
        }
      },
      "id": "d8f6801c-4e45-4c90-9e6e-587600ff91bb",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -2620,
        560
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "bAZ86DI4jbivhcs0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "215520a6-b532-4bbe-abac-feae3a312555",
              "leftValue": "={{ $json[\"body\"][\"data\"][\"key\"][\"remoteJid\"].trim() }}",
              "rightValue": "=5521964881605@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "bb29923f-fa6d-4276-859f-1ef30533063e",
              "leftValue": "={{ $json[\"body\"][\"data\"][\"key\"][\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "f2651d12-b065-45ab-8f96-19e95ff48499",
              "leftValue": "={{ $json[\"body\"][\"data\"][\"key\"][\"fromMe\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "b279df49-03e7-4a4c-9deb-2ff222b3337b",
              "leftValue": "={{ $json[\"body\"][\"data\"][\"message\"][\"conversation\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1480,
        440
      ],
      "id": "50be5b18-7603-4666-b9c8-5c382bfb48f0",
      "name": "privateChecks"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "guszap",
        "remoteJid": "={{ $node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"].replace(\"@s.whatsapp.net\", \"\").replace(/\\s+/g, '').trim() }}\n",
        "messageText": "={{ $json[\"output\"] }}",
        "options_message": {
          "delay": 3000
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -720,
        300
      ],
      "id": "c37d917c-943c-4593-a98b-1a831a3b84e5",
      "name": "WhatsApp1",
      "credentials": {
        "evolutionApi": {
          "id": "FxYWonm9o4kr1gNA",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dc928c2a-6154-478a-a12a-f08fb0d1c247",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1800,
        600
      ],
      "id": "2d5f3587-1e1f-407f-aa8f-26ae0d9bd4e0",
      "name": "Webhook",
      "webhookId": "dc928c2a-6154-478a-a12a-f08fb0d1c247"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_AE9LjQ8sn9UAy4OaILxF0tpi",
          "mode": "list",
          "cachedResultName": "Curso N8n 2"
        },
        "prompt": "define",
        "text": "={{ $json[\"body\"][\"data\"][\"message\"][\"conversation\"] }}",
        "options": {}
      },
      "id": "d1455f25-2aea-4174-8734-5b1ab2b69d6f",
      "name": "OpenAI Assistent1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -1200,
        300
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "bAZ86DI4jbivhcs0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_AE9LjQ8sn9UAy4OaILxF0tpi",
          "mode": "list",
          "cachedResultName": "Curso N8n 2"
        },
        "options": {}
      },
      "id": "a1244312-9a5f-43d5-bfac-8c3563acff0f",
      "name": "OpenAI Assistent3",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -2800,
        1000
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "bAZ86DI4jbivhcs0",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Step 2 CHAT\nCreate an Assistent with OpenAI",
        "height": 561,
        "width": 1987
      },
      "id": "dfa67d4d-08b0-4d4b-afe6-35bc9efcaaf6",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2180,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 1 -QA\n\n",
        "height": 541,
        "width": 1467
      },
      "id": "315cfdf6-84b8-4f5d-b009-24a258d81553",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3820,
        840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "sortColor",
        "description": "Call this tool to random sort colors of a list of colors from Luciano Galvao Brand",
        "jsCode": "const cores = [\n  \"vermelho\",\n  \"azul\",\n  \"verde\",\n  \"amarelo\",\n  \"laranja\",\n  \"roxo\",\n  \"preto\",\n  \"branco\",\n  \"rosa\",\n  \"cinza\"\n];\n\nconst corSorteada = cores[Math.floor(Math.random() * cores.length)];\nreturn corSorteada;\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -1160,
        520
      ],
      "id": "4c317735-70b4-4561-9581-5457d365f528",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=1234567689"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -960,
        520
      ],
      "id": "583abc7b-e201-4c4e-a5ee-726a64b07c46",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI2": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "OpenAI Assistent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        []
      ]
    },
    "privateChecks": {
      "main": [
        [
          {
            "node": "OpenAI Assistent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "privateChecks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Assistent1": {
      "main": [
        [
          {
            "node": "WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "OpenAI Assistent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI Assistent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "381c79c7-307e-4466-a1c6-cbb9595eb46f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c980eb9a6af860b9f0226fe8fc458b71427430b9f8e9b7a66aebd8dccc511f8"
  },
  "id": "hDZtVeDVC0Zw2mlF",
  "tags": [
    {
      "createdAt": "2025-03-28T18:29:49.754Z",
      "updatedAt": "2025-03-28T18:29:49.754Z",
      "id": "0n4nMgglbt5Z0iEF",
      "name": "Google Drive"
    },
    {
      "createdAt": "2025-03-28T18:29:49.748Z",
      "updatedAt": "2025-03-28T18:29:49.748Z",
      "id": "P428o9VPatbkHUZA",
      "name": "OpenAI"
    }
  ]
}