json-examples/ai-agent-image-and-message-telegram.json
{
  "name": "Telegram Motivational Message with Image",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "Aja como um criador de conteúdo motivacional sério, com uma linguagem direta, firme e impactante. Use frases curtas, tom confrontador e verdadeiro, como se estivesse dando uma bronca com empatia. O objetivo é fazer a pessoa acordar para a realidade e tomar atitude, mesmo que doa ouvir. Escreva frases que possam ser narradas com fundo musical dramático ou tenso, ideais para vídeos de TikTok. Evite mensagens fofas ou clichês. Use expressões como “até quando…?”, “você prometeu de novo…”, “ninguém vai fazer por você…”. Fale de responsabilidade, ação, autossabotagem e disciplina. Gere de 3 a 5 frases com esse estilo.\n\nUma frase por vez, apenas envia a frase como se fosse você falando.\n\nA frase precisa ter mais de 03 sentenças e sempre separada em frases curtas para não cansar o leito.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1080,
        -180
      ],
      "id": "b9e4fc2e-dfff-4042-b880-a78d84fa0b55",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1120,
        40
      ],
      "id": "29fffaad-0f51-4e77-a3f5-3764a454170e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Zpjkf8zcDtn4Tm9s",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1260,
        -180
      ],
      "id": "1bbc59eb-5b49-41db-b5ed-898a43f40345",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db8792d7-1b8e-420c-9ad7-96106f89209b",
              "name": "Phrase",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "f3b3805d-4434-49b7-8f5b-52568ec307c2",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        -180
      ],
      "id": "00db87c9-17e9-4e95-9aa8-6da6cd6d49fc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "templateId": "N1qMxz5vLP0ObeQ4ko",
        "additionalFields": {
          "waitForImage": true
        },
        "modificationsUi": {
          "modificationsValues": [
            {
              "name": "message",
              "text": "={{ $json.Phrase }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.bannerbear",
      "typeVersion": 1,
      "position": [
        -480,
        -180
      ],
      "id": "c18d34fe-586a-4f14-a30d-46da62c28fae",
      "name": "Bannerbear",
      "credentials": {
        "bannerbearApi": {
          "id": "m07VGaUgtKP5GlMk",
          "name": "Bannerbear account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1606383725",
        "file": "={{ $json.image_url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -260,
        -180
      ],
      "id": "15e73a13-8a74-4ead-a88f-42c8a3c7daa5",
      "name": "Telegram",
      "webhookId": "658bd251-2d73-449e-b0f9-74de8bf31f4f",
      "credentials": {
        "telegramApi": {
          "id": "NNuft2TYslgvbvbH",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Bannerbear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bannerbear": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5add63ae-238c-4500-809b-5c5df1340504",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e907193b96f596c20d9011807450e6f29d1cfae45acb3c89c54f4820333555b"
  },
  "id": "2rmfF49bdKcNKt9V",
  "tags": []
}