json-examples/ai-agent-telegram_message.json
{
  "name": "Telegram Motivational Message",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "Aja como um criador de conteúdo motivacional sério, com uma linguagem direta, firme e impactante. Use frases curtas, tom confrontador e verdadeiro, como se estivesse dando uma bronca com empatia. O objetivo é fazer a pessoa acordar para a realidade e tomar atitude, mesmo que doa ouvir. Escreva frases que possam ser narradas com fundo musical dramático ou tenso, ideais para vídeos de TikTok. Evite mensagens fofas ou clichês. Use expressões como “até quando…?”, “você prometeu de novo…”, “ninguém vai fazer por você…”. Fale de responsabilidade, ação, autossabotagem e disciplina. Gere de 3 a 5 frases com esse estilo.\n\nUma frase por vez, apenas envia a frase como se fosse você falando.\n\nA frase precisa ter mais de 06 sentenças.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -460,
        -80
      ],
      "id": "b9e4fc2e-dfff-4042-b880-a78d84fa0b55",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -500,
        140
      ],
      "id": "29fffaad-0f51-4e77-a3f5-3764a454170e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Zpjkf8zcDtn4Tm9s",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1606383725",
        "text": "=output {{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -100,
        -80
      ],
      "id": "bba9b1a3-5655-4f9e-880b-07909535597e",
      "name": "Telegram",
      "webhookId": "085d8642-8ae7-4893-96c0-ff628b35d1b9",
      "credentials": {
        "telegramApi": {
          "id": "NNuft2TYslgvbvbH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        -80
      ],
      "id": "1bbc59eb-5b49-41db-b5ed-898a43f40345",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "241094bc-4c6e-47a5-8582-4d701fc3271b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e907193b96f596c20d9011807450e6f29d1cfae45acb3c89c54f4820333555b"
  },
  "id": "2rmfF49bdKcNKt9V",
  "tags": []
}